body {
    text-align: center;
    }
a {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color:#F15B31;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
h1 {
    font-family: "Raleway", sans-serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    }
#instructions {
    font-family: "Droid Serif", serif;
    color:#0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}  
p {
    font-family: "Droid Serif", serif;
    
}
.my-links {
    display: inline;
    color: blue;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    

}